* {
    background: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 90vw;
    max-width: 480px;
    min-height: 90vh;
    border-radius: 10px;
    background: blanchedalmond;
    padding: 20px;
}

.container>* {
    background-color: blanchedalmond;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-split {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
}

button {
    color: #ffffff;
    background-color: #F01714;
    border: 1px solid #ee1818;
    height: 45px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.onHover {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.onHover:hover {
    transform: scale(1.05);
}

input {
    padding: 5px;
    height: 30px;
    width: 75%;
    border-radius: 5px;
}

.item {
    margin-top: 20px;
}